@font-face {
	font-family: 'themify';
	src:url('../fonts/themify9f24.eot?-fvbane');
	src:url('../fonts/themifyd41d.eot?#iefix-fvbane') format('embedded-opentype'),
		url('../fonts/themify9f24.woff?-fvbane') format('woff'),
		url('../fonts/themify9f24.ttf?-fvbane') format('truetype'),
		url('../fonts/themify9f24.svg?-fvbane#themify') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ti-"], [class*=" ti-"] {
	font-family: 'themify';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.ti-arrow-right:before {
	content: "\e628";
}
.ti-arrow-left:before {
	content: "\e629";
}
.ti-folder:before {
	content: "\e639";
}
.ti-comment:before {
	content: "\e644";
}
.ti-calendar:before {
	content: "\e6b6";
}
.ti-twitter:before {
	content: "\e72a";
}
.ti-pinterest:before {
	content: "\e731";
}
.ti-instagram:before {
	content: "\e73d";
}
.ti-facebook:before {
	content: "\e741";
}
